body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    max-width: 1400px;
}

/*header-->*/
header{
    display: flex;
    background-color: #DD5555;
}
nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
    color: white;
    padding: 15px;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0 0 0 6px;
    padding: 0;
}
nav picture{
    display: flex;
    width: 120px;
    height: 28px;
}
a{
    text-decoration: none;
    color: white;
    padding:16px;
}
/*<--header*/

/*hero-->*/
.hero{
    background-image: url("images/about.jpg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.herocontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 200px;
    text-align: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-text h1{
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}
.hero-text span{
    font-size: 24px;
    margin-top: 5px;
}
.hero-text hr{
    border-top: 1px solid white;
    color: white;
    text-align: center;
    width: 100%;
}
/*<--hero*/

/*Main-->*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding: 50px;
    font-weight: 600;
    text-align: center;
}
.cases{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
}
.circle{
    background-color: #DD5555;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.case{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:350px;
}
.case span{
    font-size: 28px;
    font-weight: 600;
}
.case p{
    text-align: center;
    font-size: 16px;
}
/*<--Main*/

/* TEAM --> */
.team{
    display: flex;
    flex-direction: column;
}
.teamHeader{
    background-image: url("images/team.jpg@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:48px;
    font-weight: bold;
    padding:82px;
    text-align: center;
}
.teamMember{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    flex-wrap: wrap;
}
.member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    font-size: 38px;
    margin: 15px;
}
.member img{
    width: 239px;
    height: 239px;
    border-radius: 50%;
}
.member button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: white;
    background-color: #DD5555;
    font-size:18px;
    width: 130px;
    border: solid #DD5555;
    border-radius: 7px;
}
.buttonMail {
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.buttonMail img{
    width: 25px;
    border-radius: 0;
    max-height: 25px;
}
/* <-- TEAM */

/* Footer --> */
    footer,
    form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    footer{
    background-color: #DD5555;
        padding: 50px;
}
    footer span{
        font-size: 36px;
        color: white;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-row input[type="text"],
    .form-row input[type="email"]{
        border: none;
        border-radius: 3px;
        width: 75%;
        padding: 7px;
        font-size: 14px;
    }
    .form-row,
    .form-rowBot {
        display: flex;
        flex-direction: column;
    }
    .form-rowTop{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-rowBot input[type="text"]{
        height: 250px;
        width: 100%;
    }
/* <-- Footer  */
